<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="ThirdPartyChartPortlets.MODULE">
    <Module>
      <Name>ThirdPartyChartPortlets</Name>
      <Version>0.0.2</Version>
      <Packaging>module</Packaging>
      <Dependencies>
        <ModuleReference>
          <Name>holefoods</Name>
          <Version>0.1.0</Version>
        </ModuleReference>
      </Dependencies>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="ThirdPartyChartPortlets.PKG" />
      <Resource Name="*.DFI" Keywords="HighCharts"/>
    </Module>
  </Document>
</Export>